@charset "UTF-8";

$lato: 'Lato', sans-serif;

// color background
$gray1: #e8ebf1;
$gray: #e9ebef;
$lightblue: #81e4ed;

// color of icons, borders
$blue: #2aacc8;

// color of border between parts
$darkgray: #c9ccd0;

// color of button
$button: #7ce0eb;

// size of border
$bordersize: 4px;